@import url('/views/colors_css.css');

*{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
}
header{
	width: 100%;
	background: var(--colorRadient_base);
	position: fixed;
	box-shadow: 0px 1px 3px #000;
	justify-content: center; 
    align-items: center;
	z-index: 1000;
}
header ul{
	
	list-style: none;
}
header ul li{
	display: inline-block;
}
header ul li a{
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
	border: 3px solid #0000004f;

	color: #fff; 	
	display: block;
	text-decoration: none;
	width: 60px; /* Tamaño fijo del botón */
    height: 60px; /* Tamaño fijo del botón */
    line-height: 40px; /* Alinea verticalmente el texto */
}
header ul li a:hover{
	background: var(--colorRadient_base);
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
}

header ul li a img{
	
	max-width: 40px;
	max-height: 40px;
	border-radius: 1vw;
	
}
header ul li img{
	
	max-width: 60px;
	max-height: 60px;
	border-radius: 1vw;
	
}

.float_cuenta{
	float: right;
}
#base {
	width: 100%;
	height: 600px;
	background: var(--Fondo), url(img/base.gif);
	background-size: 100% 100%;
	display: table;
	background-color: #3333333b;
}
#base h1{
	margin-top: 80px;
	vertical-align: middle;
	text-align: center;
	color: #fff;

	font-size: 60px;
}
#contenedor{
	padding: 20px;
}
#contenedor h2{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 30px;
	text-align: center;
}


#servicios{
	text-align: center;
}
#servicios ul{
	list-style: none;
}
#servicios ul li{
	display: inline-block;
	width: 43%;
}
#servicios ul li a{
	height: 500px;
	
	margin: 10px;
	border-radius: 10px;

	display: block;
	text-decoration: none;
	color: #fff;

	text-align: center;
	border: 3px solid #0000004f;
	font-family: Arial black;
	font-size: 2vw;
}
#servicios ul li a:hover{
	box-shadow: 5px 1vw 1vw rgba(247, 119, 0, 0.3);
	border: none;
	transition: ease all 0.5s;
}

.carousel-caption h5{

	color :#000;

}

.carousel-caption p{

	color :#000;

}
.item{



}
.carousel .item img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen */
    height: auto; /* Para mantener la proporción de aspecto */
    /* Ajusta el tamaño como desees */
    width: 500px; 
    height: 500px; 
}
.carousel .item p{

	color: white;

}
#servicio1{
	background: var(--entidad_servicio), url(juguete-caballo/poster_caballo.webp);
	background-size: 100% 100%;
}
#servicio2{
	background: var(--entidad_servicio), url(juguete-Astronauta/poster_astronauta.webp);
	background-size: 100% 100%;
}
#servicio3{
	background: var(--entidad_servicio), url(juguete-Robot/poster_robot.webp);
	background-size: 100% 100%;
}

#identidad{
	display: flex;
	justify-content: center;
}
#identidad div{
	margin:10px;
	padding: 20px;
	text-align: justify;
	border: 5px solid #833000;
	border-radius: 10px;
	
}
#inferior{
	width: 98%;
	padding: 1%;
	background:var(--colorRadient_base-inversa);
	text-align: center;
}
#inferior p{
	color: #fff;
	font-size: 20px;
	padding: 20px;
}

/*////////// Diseño para movil //////////*/
@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 700px){
header{
	box-shadow: 0px 5px 10px #000;
}

header ul{
	padding: 10px;
}
header ul li{
	display: inline-block;
}
header ul li a{
	margin: 10px;
	padding: 15px;
	font-size: 50px; 
	border: 8px solid #0000004f;
}
#base{
	height: 800px;
}
#base h1{
	margin-top: 200px;
	font-size: 100px;
}
#contenedor{
	padding: 50px;
}
#contenedor h2{
	margin-top: 60px;
	margin-bottom: 60px;
	font-size: 60px;
}
#servicios ul li{
	width: 100%;
}
#servicios ul li a{
	height: 400px;
	border-radius: 20px;
	border: 10px solid #0000004f;
	font-family: Arial black;
	font-size: 400%;
}
#identidad{
	display:inline-block;
}
#identidad div{
	margin-bottom:50px;
	padding: 40px;
	text-align: justify;
	border: 10px solid #024aff;
	border-radius: 20px;
}
#inferior{
	background: #024aff;
	text-align: center;
}
#inferior p{
	color: #fff;
	font-size: 40px;
	padding: 20px;
}
}