<!DOCTYPE html>
<html>
<head meta name="viewport" content="width=device-width, initial-scale=1.0"&amp;gt;>
	<title>Diversiones hespa</title>
	<link rel="stylesheet" type="text/css" href="css_index.css">
	<link href="views/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
	<header>
		<ul>
			<li ><img src="/materiales/logo.jpg" alt="imagen" ></li>
			<li class="float_cuenta"><a href="/Interfaz_carrito/index.html"><img src="/materiales/contacto.png" alt="imagen" ></a></li>
		</ul>
	</header>

	<div id="base">
		<h1>Diversiones Hespa</h1>
        
	</div>

	

	<div id="contenedor">
		<h2>MENU</h2>

		

		<div id="servicios">
			<ul>
				<li><a class="elemento" id="servicio1" href="juguete-caballo/index.html">Eventos</a></li>
				<li><a class="elemento" id="servicio2" href="juguete-Astronauta/index.html">Direcciones</a></li>
				<li><a class="elemento" id="servicio3" href="juguete-Robot/index.html">Imagenes</a></li>
		</div>

	<div id="inferior">
		<p>Desarrollado por: Luis Eduardo Iturbe Gonzalez y Cristian Froylan Carmona Hernández</p>
	</div>

	<script src="resources/controller/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
	<script src="resources/controller/popper.min.js" integrity="sha384-3xBx8hozEU5z3kfUXtFzWHM1fcEJpOw6C4z5kQ5Em4OL9RxZvJLehvxYtv2UQZC2" crossorigin="anonymous"></script>
	<script src="resources/controller/bootstrap.bundle.min.js" integrity="sha384-XS/1x0V4qADUztpZQhtlvhPAUv7wuI9oWRzim2V2PD3yPf7Nw8PdFznj9BvI5KKh" crossorigin="anonymous"></script>
	<script src="resources/controller/jquery-3.6.0.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>